<div class="h-full flex items-center justify-center px-6 py-12 md:px-4 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Register an account</h1>
        </div>

        <div class="mt-8">
            {% form 'create_customer' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="first_name" class="sr-only">First Name</label>
                    <input class="relative block w-full px-3 py-2 border focus:outline-none" placeholder="First Name" type="text" name="customer[first_name]" id="first_name" autocomplete="given-name">
                </div>

                <div class="my-2">
                    <label for="last_name" class="sr-only">Last Name</label>
                    <input class="relative block w-full px-3 py-2 border focus:outline-none" placeholder="Last Name" type="text" name="customer[last_name]" id="last_name" autocomplete="family-name">
                </div>

                <div class="my-2">
                    <label for="birthday" class="sr-only">Birthday</label>
                    <input class="relative block w-full px-3 py-2 border focus:outline-none" type="date" name="customer[note][Birthday]" id="birthday">
                </div>

                <div class="my-2">
                    <label for="email_address" class="sr-only">Email Address</label>
                    <input class="relative block w-full px-3 py-2 border focus:outline-none" placeholder="Email Address" type="email" name="customer[email]" id="email_address" autocomplete="email">
                </div>

                <div class="my-2">
                    <label for="password" class="sr-only">Email Address</label>
                    <input class="relative block w-full px-3 py-2 border focus:outline-none" placeholder="Password" type="password" name="customer[password]" id="password" autocomplete="new-password">
                </div>
                
                <div>
                    <button type="submit" class="cursor-pointer relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900">Create Account</button>
                </div>
            {% endform %}
        </div>
    </div>
</div>